#listaCart {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.stickyBox {
    position: sticky;
    position: -webkit-sticky;
    top:5rem;
    height: 100%;
}

.cartTitle {
  color: #e1ae07;
  text-shadow: 0 0 15px rgb(255, 221, 0);
  letter-spacing: 1;
  background-image: linear-gradient(180deg, rgb(234, 198, 80), rgb(175, 137, 11));
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.total-price-container {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  /* ALL PRODUCTS PAGE*/

  .offcanvasCustom{
    background-color: #1c1f22;
color: #ba8f04c9;
padding: 1rem 1rem;
display: flex;
flex-direction: column;
  }

  
  .btnOffcanvas{
    background: transparent !important;
    border: #1c1f22;
    border-bottom: #e1ae07 !important;
    transition: all 0.3s ease;
  }

  .btnOffcanvas:hover{
    background-color: #ba8f04c9 !important;
  }

  .btnOffcanvas:active{
    background-color: #e1ae07 !important;
  }
 .btnOffcanvas:active,
.btnOffcanvas.active {
    background-color: #ffc107;
    color: #000;
    border-color: #ffc107;
}


/* WISHLIST PAGE*/
.wishListContainer {
  margin-bottom: 20rem;

}


.wishListContainer strong {
  color: white;
}


.wishListContainer p {
  color: white;
  margin-top: 3rem;
  margin-bottom: 20rem;
  font-size: 25px;
  text-align: center;
}

.noShowlg {
  display: none;
}

.btnDetTrash {
  display: flex;
  
}


@media (max-width: 768px) {
  .containerCart {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .btnQuantity {
   display: flex;
   justify-content: center;
    align-items: center;
  }
  .btnDetTrash {
    display: flex;
    justify-content: center;
     align-items: center;
    gap:1rem;
    margin-bottom: 2rem;
   }
   .noShowsm {
    display: none;
   }
   .stickyBox {
    margin: 0 auto !important;
    width: 100%;
   }
   .detailsCardsm {
    display: flex;
    justify-content: center;
    gap: 2rem;
   }
   .titleCartsm{
    margin-bottom: 1rem !important; 
   }
 /* whishlist*/

  .wishListContainer {
    margin-bottom: 3rem;
  }
 .card_button {
  scale: 0.8;
  margin-top: 1rem;
 }
 .noShowlg {
  display: block;
 }


}