* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0b0b;
  position: relative;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(26, 29, 27, 0.8) 100%
  );
  pointer-events: none;
}

.bg1 {
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0.1;
  object-fit: cover;
}

/* NAVBAR */

.custom-navbar {
  box-shadow: 0 2px 10px rgba(255, 213, 46, 0.2);
  padding: 1rem 0;
  background-color: #1c1f22;
}

.brand-text {
  color: rgb(225, 174, 7) !important;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgb(225, 174, 7);
}

.nav-link-custom {
  color: rgba(255, 255, 255, 0.8) !important;
  margin: 0 0.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link-custom::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(225, 174, 7);
  transition: width 0.3s ease;
}

.nav-link-custom:hover {
  color: rgb(225, 174, 7) !important;
  text-shadow: 0 0 5px rgba(255, 227, 46, 0.576);
}

.nav-link-custom:hover::after {
  width: 100%;
}

.dropdown-navbar {
  margin: 0 0.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.dropdown-navbar .dropdown-menu {
  background-color: #1c1f22;
}
.dropdown-navbar .dropdown-item {
  color: #d6d6d6;
}

.dropdown-navbar .dropdown-item:hover {
  background-color: #2a2a2a;
  color: rgb(225, 174, 7);
}


#products-dropdown {
  color: #d6d6d6 !important;
}

#products-dropdown:hover {
  color: rgb(225, 174, 7) !important;
  text-shadow: 0 0 5px rgba(255, 227, 46, 0.576);
}

#brands-dropdown {
  color: #d6d6d6 !important;
}

#brands-dropdown:hover {
  color: rgb(225, 174, 7) !important;
  text-shadow: 0 0 5px rgba(255, 227, 46, 0.576);
}

.dropdown-navbar:hover::after {
  width: 100%;
}

.account-icon {
  color: white;
  font-size: 2rem;
  
}

.logout-btn {
  background: transparent;
  border: 2px solid rgb(225, 174, 7);
  color: rgb(225, 174, 7);
  padding: 0.5rem 1.5rem;
  margin-left: 1rem;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background: rgb(225, 174, 7);
  color: #000000;
  box-shadow: 0 0 15px rgba(255, 203, 46, 0.5);
  border-color: rgb(225, 174, 7);
}

.navbar-toggler {
  border-color: rgb(225, 174, 7);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(46, 255, 96, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown_custom {
  color: rgba(255, 255, 255, 0.339) !important;
  font-weight: 500;
  background-image: none;
}

.dropdown_custom:hover {
  color: rgb(225, 174, 7) !important;
  text-shadow: 0 0 5px rgba(255, 231, 46, 0.3);
}

.dropdown_custom:hover::after {
  width: 100%;
}

@media (max-width: 991px) {
  .nav-link-custom {
    padding: 0.5rem 0;
  }

  .logout-btn {
    margin: 1rem 0;
    width: 100%;
  }
}

/* Fine NAVBAR */

/* fitst sec*/
#FirstSec {
  background-image: url(../uploads/bg5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 35rem;
  background-position: center -220px;
  opacity: 0.7;
}


.maintitle {
  text-transform: capitalize;
  text-shadow: 0 0 15px rgb(255, 221, 0);
  margin-bottom: 4rem;
  letter-spacing: 0.8;
  margin-top: 2rem;
  font-size: 4rem;
  line-height: 1.1;
  background-image: linear-gradient(180deg, rgb(234, 198, 80), rgb(175, 137, 11));
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section h3{
  color: gold;
  text-shadow: 0 0 15px rgb(255, 221, 0);
  letter-spacing: 1;
  background-image: linear-gradient(180deg, rgb(234, 198, 80), rgb(175, 137, 11));
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*second Section*/

.title {
  text-transform: capitalize;
  text-shadow: 0 0 10px rgba(200, 187, 46, 0.5);
  letter-spacing: 0.8;
  font-size: 4rem;
  line-height: 1.1;
  background-image: linear-gradient(180deg, rgb(225, 174, 7), rgb(86, 53, 3));
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CARD PRODOTTO */
.card {
  border: 2px solid #ffd22e;
  box-shadow: 0 0 5px rgb(255, 210, 46);
  width: 320px;
  height: 400px;
  background: rgba(21, 21, 21, 0.71);
  border-radius: 1rem;
  padding: 4rem 2rem 0;
  overflow-y: hidden;
  font-style: oblique;
}

.card_img {
  position: absolute;
  width: 260px;
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
  z-index: 3;
}
.card_img:hover {
  transition: 0.8s;
  z-index: 2;
}
.card_data {
  transform: translateY(16.2rem);
  width: 300px;
  text-align: center;
  color: rgb(170, 167, 167);
}
.card_data {
  transition: 0.8s;
}
.card_title {
  font-size: 24px;
  color: #e1ae07;
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.card_title:hover {
  transition: 0.8s;
}
.card_price {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1.25rem;
  color: #e1ae07;
}

.card_description {
  font-size: 14px;
  text-align: initial;
  margin-bottom: 1.25rem;
  opacity: 0;
}
.card__description:hover {
  transition: 0.8s;
}

.card_button {
  background: transparent;
  border: 2px solid #ffd620;
  border-radius: 5rem;
  color: #ffd620;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  width: 50%;
  margin-top: 1rem;
}

.card_button:hover {
  background: #ffd620;
  color: #000000;
  box-shadow: 0 0 15px rgba(255, 245, 46, 0.5);
}

/* Hover card effect */
.card:hover {
  overflow-y: visible;
}

.card:hover .card_data {
  transform: translateY(10rem);
}

.card:hover .card_title {
  visibility: hidden;
  transition: 0.2s;
}

.card:hover .card_price {
  display: none;
  transition: 0.1s;
}

.card:hover .card_button {
  transition-delay: 0.5s;
  opacity: 1;
  margin-top: 30px;
}

.section-divider {
  color: rgb(225, 174, 7);
  height: 1px;
  width: 70%;
}

#NewUsed{
  display: flex;
  background-image: url(../uploads/b7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: auto;
  height: 40rem;
  background-position: center -220px;
  opacity: 1;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.btnNewUsed{
  position: absolute;
  bottom: 3rem;
  right: 22%;
  background-color: rgb(255, 210, 46);
  color: black;
  border: 1px solid rgb(255, 179, 0);
  box-shadow: 0 0 5px rgb(255, 210, 46);
}

.btnNewUsed:hover{
  background-color: #000000;
  color: rgb(255, 210, 46);
  border: 1px solid rgb(255, 179, 0);
  box-shadow: 0 0 5px rgb(255, 210, 46);
}

.cardNew {
  border: 2px solid #ffd22e;
  text-align: center;
  background-image: url(../uploads/cardNU1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardUsed {
  border: 2px solid rgb(255, 210, 46);
  text-align: center;
  background-image: url(../uploads/cardUsed.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/*CART*/
.total-price-container {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  color: rgb(255, 210, 46);
}


/*FOOTER*/

.custom-footer {
  background-color: #1c1f22;
  color: #ffffff;
  padding-top: 3rem;
}

.footer-section {
  padding: 0 1.5rem;
}

.footer-title {
  color: #ffd620;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.footer-text {
  color: #adb5bd;
  line-height: 1.6;
}

.footer-logo {
  color: white;
  font-size: 1.5rem;
}

.footer-link {
  color: #adb5bd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffd620;
  text-decoration: none;
}

.social-links {
  margin-top: 1rem;
}

.social-link {
  color: #adb5bd;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #ffd620;
}

.footer-bottom {
  border-top: 1px solid #495057;
  margin-top: 2rem;
  padding: 1.5rem;
  color: #adb5bd;
}

@media (max-width: 768px) {
  .footer-section {
    text-align: center;
  }
  
  .social-links {
    justify-content: center;
  }
}

/* Fine FOOTER */ 